.containerBtn{
    text-align: center;
}

.btn{
    margin: 20px;
    border-radius: 15px;
    height: 25px;
    width: 70px;
    background-color: white;
    font-size: 18px;
    box-shadow: 0.1em 0.1em 0.3em black;
}

.btn:hover{
    border-radius: 15px;
    color: white;
    background-color: black;
    font-size: 18px;
    box-shadow: 0.1em 0.1em 0.3em red;
}
input[type=text], input[type=number]{
    text-align: right;
    font-size: 25px;
    width: calc(100% - 15px);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.field{
    margin: 10px 0px 0px 0px;
    box-shadow: 0.1em 0.1em 0.2em black;
}
#result{
    margin: 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opes{
    background-color: black;
    color: white;
}

#igual {
    background-color: rgb(255, 10, 10);
    color: white;
}